textarea.x_full-width {
	height: 240px;
	min-height: 100px;
	resize: vertical;
}

.x_inline.cloud-group-label {
	min-width: 34px;
}
.x_help-block.after-checkboxes {
	margin-top: 5px;
}

.x_help-block.after-import-button {
	margin-top: 10px;
}
