<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants>
	</grants>
	<actions>
		<action name="dispAllbandazoleAdminConfig" class="Controllers\Admin" menu-name="allbandazole" admin-index="true" />
		<action name="dispAllbandazoleAdminCountries" class="Controllers\Admin" menu-name="allbandazole" />
		<action name="dispAllbandazoleAdminClouds" class="Controllers\Admin" menu-name="allbandazole" />
		<action name="dispAllbandazoleAdminCaptcha" class="Controllers\Admin" menu-name="allbandazole" />
		<action name="procAllbandazoleAdminSaveConfig" class="Controllers\Admin" />
		<action name="procAllbandazoleAdminSaveCountries" class="Controllers\Admin" />
		<action name="procAllbandazoleAdminSaveClouds" class="Controllers\Admin" />
		<action name="procAllbandazoleAdminSaveCaptcha" class="Controllers\Admin" />
	</actions>
	<eventHandlers>
		<eventHandler before="moduleHandler.init" class="Controllers\EventHandlers" method="beforeModuleInit" />
	</eventHandlers>
	<menus>
		<menu name="allbandazole" type="all">
			<title xml:lang="ko">구충제 모듈</title>
		</menu>
	</menus>
</module>
